<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qdu.mapper.DailyTrainMapper">

    <select id="getDailyTrainByNumberAndDate" resultType="com.qdu.entity.DailyTrain">
        SELECT *
        FROM daily_train
        WHERE train_number = #{trainNumber}
          AND departure_date = #{departureDate}
    </select>
    <select id="getTodayTrainCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM daily_train
        WHERE departure_date = CURDATE()
          AND status = 'scheduled'
    </select>
</mapper>
